@model List<Employee>;
@{
    ViewData["Title"] = "Current employees!";
}

<h1>Welcome to JobSpot</h1>

<div class="col-6">

    <a class="btn btn-primary" asp-area="" asp-controller="Employee" asp-action="Create">
        <i class="bi bi-journal-plus"></i>
        Add new employee

    </a>

</div>


<table class="table-bordered align-items-center">

    <thead>
        <tr>

        <th>Id</th>
        <th>Name</th>
        <th>Dept</th>
        <th>Age</th>

        </tr>
    </thead>

    <tbody>
    
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Dept</td>
            <td>@item.Age</td>
        </tr>
    }

    </tbody>

</table>