@model List<Employee>
@{
    ViewData["Title"] = "Random Act page";
}

<h1>Random page</h1>

<table class="table-bordered">
@foreach (var item in Model)
{

    <tr >
        <td>@item.Name</td>
        <td>@item.Age</td>
        <td>@item.Dept</td>
    </tr>
 
}

</table>